<%- include('partials/head', { title: 'Edit' }) %>

<body>
    <h1>Editar Categoría</h1>
    <form action="/categories/<%= category.id %>" method="post">
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" value="<%= category.name %>" required>
      <button type="submit">Guardar Cambios</button>
    </form>
  </body>

<%- include('partials/footer') %>