:root{
    --tipografiaGeneral: 'Open Sans', sans-serif;
    --colorMarron:  #7c3c24;
    --colorVerde: #247c3c;
    --colorAzul:  #245c7c ;
    --colorNaranja: #e09850;
} 

*{
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box;
    font-size: var(--tipografiaGeneral);
}

a{
    text-decoration: none;
}