*{
    /* margin: 0 auto; */
    box-sizing: border-box;
}
.header__section{
    width: 100%;
    display: flex;

}
.header__section .header__section--logo img{
    width: 40%;
    margin-left: 28%;
}
 .header__section--ic i{
    margin-top: 20px;
}

