h2 {
    text-align: center;
    height: 30px;
    margin: 20% auto 5%;
    padding: 2%;
}

.formulario p {
    font-size: 12px;
}

.formulario .inputs .formu {
    height: 20%;
    margin-top: 5%;
}


.formulario .inputs .formu .espacio {
    padding-bottom: 17px;
}

.formulario .inputs .formu .espacio input {
    display: block;
    width: 95%;
    margin: 2px auto;
    padding: 8px;
    border-radius: 13px;
}

.formulario .inputs .formu .espacio p {
    display: inline;
    color: red;
    padding-left: 1%;
}

.formulario .inputs .formu a {
    color: green;
    padding-left: 9%;
}

.formulario .btn {
    text-align: center;
    height: 65px;
    width: 100%;
}

.formulario .btn button {
    background-color: rgb(38, 167, 38);
    border-radius: 10px;
    width: 60%;
    height: 30px;
    margin: 10% auto;
}

.formulario .extra .register {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.formulario .extra .register p {
    margin-top: 5%;
    margin-right: 10px;
    color: black;
    font-size: 14px;
    text-align: center;
}

.formulario .extra .register a {
    color: green;
    margin-top: 5%;
    font-size: 14px;
}


/* MEDIA QUERYS */



/* TABLET */

@media (min-width:768px) {
/* ver este body */
    /* body {
        margin: 4%;
    } */



    h2 {
        text-align: center;
        height: 30px;
        margin: 20% auto 5%;
        padding: 2%;
        font-size: 40px;
    }

    .formulario p {
        font-size: 17px;
    }

    .formulario .inputs .formu .espacio {
        padding-bottom: 17px;
        font-size: 25px;
    }

    .formulario .inputs .formu .espacio input {
        display: block;
        width: 95%;
        margin: 10px auto;
        height: 24px;
        padding: 8px;
        border-radius: 13px;
        font-size: 20px;
    }

    .formulario .inputs .formu a {
        color: green;
        float: right;
        margin-right: 2%;
    }

    .formulario .inputs .formu .user {
        font-size: 18px;
    }

    .formulario .inputs .formu .user input {
        font-size: 20px;
        padding: 10px;
    }

    .formulario .btn {
        text-align: center;
        height: 75px;
        width: 100%;
    }

    .formulario .btn button {
        background-color: rgb(38, 167, 38);
        border-radius: 10px;
        width: 50%;
        height: 40px;
        font-size: 18px;
    }

    /* EXTRA */

    .formulario .extra .register p {
        margin-top: 7%;
        margin-right: 10px;
        color: black;
        font-size: 20px;
        text-align: center;
    }

    .formulario .extra .register a {
        color: green;
        margin-top: 7%;
        font-size: 20px;
    }

}


/* DESKTOP */

@media (min-width:1024px) {

    body {
        margin: 10%;
    }

    h2 {
        background-color: rgba(195, 239, 195, 0.5);
        text-align: center;
        height: 50px;
        margin: 0 auto 5%;
        padding: 2%;
        font-size: 44px;
    }

    .formulario p {
        font-size: 17px;
    }

    .formulario .inputs .formu .espacio {
        padding-bottom: 17px;
        font-size: 28px;
    }

    .formulario .inputs .formu .espacio input {
        display: block;
        width: 95%;
        margin: 10px auto;
        height: 24px;
        padding: 8px;
        border-radius: 13px;
        font-size: 20px;
    }

    .formulario .inputs .formu a {
        color: green;
        float: right;
        margin-right: 2%;
    }

    .formulario .inputs .formu .user {
        font-size: 22px;
    }

    .formulario .inputs .formu .user input {
        font-size: 20px;
        padding: 10px;
    }

    .formulario .btn {
        text-align: center;
        height: 75px;
        width: 100%;
    }

    .formulario .btn button {
        background-color: rgb(38, 167, 38);
        border-radius: 10px;
        width: 50%;
        height: 50px;
        font-size: 20px;
    }

    /* EXTRA */

    .formulario .extra .register p {
        margin-top: 8%;
        margin-right: 10px;
        color: black;
        font-size: 23px;
        text-align: center;
    }

    .formulario .extra .register a {
        color: green;
        margin-top: 8%;
        font-size: 23px;
    }

}