  .container-swiper {
    margin: 0;
    padding: 0;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: contain;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .cards {
    margin: 0px;
    padding: 0px;
  }

  .imagen_carousel {
    /* width: 100%; */
  }

  .container_section {}

  .container_imagenes_main {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
  }

  .imagen_main {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  h2 {
    text-align: center;
    font-size: 24px;
    margin: 50px;
    text-transform: uppercase;
  }

  .container-articulo-section {
    background-color: beige;
    width: 100%;
    /* margin: auto; */
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .imagen_producto {
    width: 100%;
    align-items: center;
  }

  .description {
    margin-top: 30px;
    font-size: 16px;
  }

  .precio {
    margin-top: 10px;
    font-size: 20px;
  }

  .button {
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(61, 197, 68);
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 14px;
  }

  .container_div_pie {
    text-align: center;
    margin: 20px;
  }

  .link_redes {
    list-style: none;
  }

  .h3_pie {
    color: black;
    padding-top: 20px;
    font-size: 20px;
  }

  .parrafo_pie {
    margin-top: 20px;
    font-size: 20px
  }

  .button_pie {
    border: 1px solid green;
    border-radius: 20px;
    padding: 10px 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    color: green;
    background-color: white;
  }

  @media (max-width: 375px) {

    .container_section {
      display: block;
      padding: 30px;
    }

    section.imagenes_main {
      width: 370px;
      height: 300px;
    }

    .envios {
      margin-top: 20px;
      padding: 60px;
      text-align: center;
      background-color: antiquewhite;
    }
  }