main {
    font-family: 'Cormorant Garamond', serif;
    
}

.cabecera {
    
}

h2 {
    text-align: center;
}

p {

}

.formulario {
    font-family: 'Nanum Myeongjo', serif;
}
/* FORMULARIO COMPLETO */

.column {
    
}

/* DIV INPUTS */

.inputs {
    box-shadow: 3px saddlebrown;
    background-color: beige;
}
.inputs .col-8 {
    margin-bottom: 5px;
}
button {
    background-color: var(--bbgc)
}