
.cabecera {
    margin-top: 10%;
    padding: 10px;
    text-align: center;
}

.cabecera i {
    color: rgb(38, 167, 38);
}

.cabecera p {
    margin-top: 15%;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    margin: 0;
}

p {
    font-size: 15px;
}

/* FORMULARIO COMPLETO */

.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.formulario p {
    padding-left: 3%;
}

.formu {
    background-color: rgb(195, 239, 195);
    width: 99%;
    margin: 0 auto;
    padding: 2%;
    font-size: 15px;
    flex-wrap: wrap;
}

.espacio {
    padding-bottom: 15px;
}

input {
    display: block;
    width: 97%;
    margin: 0 auto;
    padding: 8px;
    border-radius: 13px;
}

.formulario .newsletter {
    display: flex;
    font-size: 13px;
    margin-top: 3%;
    padding-left: 3%;
}

.formulario .newsletter input{
    width: 10%;
    margin: 0;
}

button {
    background-color: rgb(38, 167, 38);
    border-radius: 10px;
    width: 45%;
    height: auto;
    margin: 10% auto;
}

