main {
    font-family: 'Cormorant Garamond', serif;
    
}

.cabecera {
    
}

h2 {
    text-align: center;
}

p {

}

.formulario {
    font-family: 'Nanum Myeongjo', serif;
}

/* p {
 dentro de formulario   
}*/

/* DIV INPUTS */

.inputs {
    box-shadow: 3px saddlebrown;
}

button {
    background-color: var(--bbgc)
}