:root{
    --tipografiaGeneral: 'Inter', sans-serif;
    --colorMarron:  #7c3c24;
    --colorVerde: #247c3c;
    --colorAzul:  #245c7c ;
    --colorNaranja: #e09850;
    --colorVerdeClaro: rgb(111, 222, 75);
} 
