@media (min-width: 320px) {
    .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: space-between;
    }

    .table-hover {
        display: flex;
        flex-direction: column;
    }

    .col-description,
    .col-category,
    .col-price,
    .col-priceFinal,
    .col-actions {
        display: none;
    }

    /*
    TD
    */

    .td-description,
    .td-category,
    .td-price,
    .td-finalPrice {
        display: none;
    }
}

@media (min-width: 768px) {
    .thList {
        display: flex;
        justify-content: space-between
    }
    .container-tr {
        display: flex;
    }
    
    
    .col-name,
    .col-brand,
    .col-description,
    .col-category,
    .col-price,
    .col-priceFinal,
    .col-actions {
        display: flex;
    }
    
    .td-name,
    .td-brand,
    .td-description,
    .td-category,
    .td-price,
    .td-finalPrice,
    .td-actions {
        display: flex;
    }
    
    

}