.title-login{
    text-align: center;
    height: 30px;
    margin: 20% auto 5%;
    padding: 2%;
}

.formulario-register p {
    padding-left: 2%;
    font-size: 12px;
}

.inputs {
    margin-top: 20px;
}

.formu {
    background-color: rgb(195, 239, 195);
    border-radius: 15px;
    padding: 20px 10px;
    width: 100%;
    font-size: 15px;
}

.espacio {
    padding: 10px 0px;
}

.espacio label {
    font-size: 15px;
    font-weight: 400;
}
.espacio p {
    display: inline;
    color: red;
    padding-left: 1%;
}

.espacio input {
    display: block;
    width: 100%;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--colorVerdeClaro);
    outline: none;
}


.btn-submit {
    background-color: rgb(195, 239, 195);
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding: 15px 30px;
    margin: 50px auto 0px auto;
    font-weight: 600;
    color: #2c2c2c;
}

.btn-submit:hover{
    background-color: var(--colorVerdeClaro);
    transition: .3s;
}


/* MEDIA QUERYS */

/* TABLET */


/* @media (min-width: 768px) {
    .formulario-register {
        width: 70%;
    }
    
}

/* DESKTOP */

/* @media (min-width:1024px) {

    .formulario-register {
        width: 40%;
    }
}   */
