.title-login{
    text-align: center;
    margin-top: 20px;
}

/* FORMULARIO COMPLETO */

.formulario-register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
}

.formulario-register p {
    margin: 0;
    text-align: center;
    font-size: 14px;
}

.formu {
    border: 1px solid var(--colorVerdeClaro);
    border-radius: 5px;
    padding: 20px 15px;
    font-size: 14px;
    width: 97%;
    margin: auto;
}

.espacio {
    padding: 5px 0px;
}

.espacio label {
    display: flex;
    align-items: center;
    width: 100%;
}

.espacio label p {
    color: red;
    width: 6%;
}

.espacio input {
    display: block;
    width: 100%;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--colorVerdeClaro);
    outline: none;
}

.input_login{
    position: relative;
}

.input_login i{
    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
}

.formulario-register a {
    text-decoration: none;
}

.formulario-register p {
    margin: 10px 0px;
}

.formulario-register a:hover {
    text-decoration: underline;
}

.link-register {
    text-align: center;
    color: white;
}

.btn-submit {
    background-color: var(--colorVerdeClaro);
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding: 12px 20px;
    margin: 20px auto;
    color: white;
}

.btn-submit a {
    color: white;
    font-size: 500;
}

.btn-submit:hover {
    background-color: rgb(77, 156, 51);
    transition: .3s;
}

.btn-submit a:hover {
    text-decoration: none;
}

/* REGISTRARSE */
.formulario-register_register{
    width: 90%;
    margin: auto;
}
.formulario-register_register h2 {
    text-align: center;
}

.formulario-register_register p{
    text-align: center;
}
.formulario-register_register button{
    display: flex;
    justify-content: center;
}



/* MEDIA QUERYS */

/* MOBILE */

@media (min-width: 320px) {
    .container_main-login{
        display: block;
    }
}

/* TABLET */

@media (min-width: 768px) {
    .container_main-login {
        display: flex;
        width: 90%;
        margin: auto;
        gap: 30px;
    }
    .formulario-register {
        width: 50%;
    }
    .formulario-register_register{
        width: 50%;
    }
}

/* DESKTOP */

@media (min-width:1024px) {
    .container_main-login {
        display: flex;
        width: 60%;
        margin: auto;
        gap: 80px;
    }
    .espacio label p {
        color: red;
        width: 2%;
    }
}
  

