div.container_form-edit{
    margin: auto;
    width: 80%;
    margin-bottom: 150px;
    margin-top: 50px;
    padding: 35px 50px;
    border-radius: 10px;
    box-shadow: 20px 30px 25px 20px rgba(0, 0, 0, 0.15);
};

.col-md-6{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}
textarea{
    border: 1.2px solid #c4cae0;
    border-radius: 5px;
}

textarea:focus,input:focus{
    outline: none;
}

.container_button-form{
    margin: 20px 0px;
}

.container_form-edit input{
    /* width: 130px; */
}
.col-md-4 select{
    /* width: 80px; */
    font-size: small;
}
select#inputStock option{
    font-size: smaller;
}
input#inputImg{
    width: 60px;
}
.col-md-4{
    font-size: small;
}
.col-md-2{
    width: 170px;
}
.col-md-2 input{
    width: 50px;
    height: 40px;
}

@media (min-width: 375px) {
    .col-md-12 .container_description-edit{
        display: block;
        margin-bottom: 10px;
    }   
    .col-md-12 textarea{
        width: 100%;
        padding: 13px 10px;
    }
}

@media (min-width: 768px){
    div.container_form-edit{
        width: 80%;
    }
    textarea{
        resize: none;
        width: 260px;
        height: 55px;
    }
    .col-md-12 .container_description-edit{
        display: block;
        margin-bottom: 10px;
    }   
    .col-md-12 textarea{
        width: 100%;
        padding: 13px 10px;
    }
    .button_imagen{
        margin-top: 30px;
        margin-left: 20px;
    }
    
}

@media (min-width: 1024px){
    div.container_form-edit{
        width: 70%;
    }
    .col-sm-3 button{
        padding: 6px 20px;
    }
}