.cabecera {
    margin-top: 10%;
    padding: 10px;
    text-align: center;
    background-color: rgb(195, 239, 195);
}

.cabecera h2 {
    text-align: center;
    font-size: 25px;
    height: 50px;

}

.cabecera i {
    color: rgb(38, 167, 38);
}

.cabecera p {
    margin-bottom: 10px;
    font-size: 13px;
}

.cabecera .p-desktop {
    display: none;
}

/* FORMULARIO COMPLETO */

.formulario-register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    width: 90%;
    margin: 100px auto;
}

.formulario-register p {
    padding-left: 2%;
    font-size: 12px;
}

.inputs {
    margin-top: 20px;
}

.formu {
    background-color: rgb(195, 239, 195);
    border-radius: 15px;
    padding: 20px 10px;
    width: 100%;
    font-size: 15px;
}

.espacio {
    padding: 10px 0px;
}

.espacio label {
    font-size: 15px;
    font-weight: 400;
}
.espacio p {
    display: inline;
    color: red;
    padding-left: 1%;
}

.espacio input {
    display: block;
    width: 100%;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--colorVerdeClaro);
    outline: none;
}

.extras {
    margin: 10px 0px;

}

.promociones {
    display: flex;
    font-size: 13px;
    margin-top: 3%;
    padding-left: 3%;
}

.container-promociones input,
.container-newsletter input {
    margin: 0px 10px;
}

.btn-submit {
    background-color: rgb(195, 239, 195);
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding: 15px 30px;
    margin: 50px auto 0px auto;
    font-weight: 600;
    color: #2c2c2c;
}

.btn-submit:hover{
    background-color: var(--colorVerdeClaro);
    transition: .3s;
}


/* MEDIA QUERYS */

/* TABLET */


@media (min-width: 768px) {
    .formulario-register {
        width: 70%;
    }

    .cabecera .p-desktop {
        display: block;
    }
    
}

/* DESKTOP */

@media (min-width:1024px) {

    .formulario-register {
        width: 40%;
    }
}