<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Home' }) %>

    <body class="home">
        <%- include('partials/header') %>

        <main>
            <div class="container_admin">
                
                <div class="container_dashboard">
                    <div>
                        <div class="img_dashboard">                     
                            <img src="" alt="">
                        </div>
                        <div>
                            <h2>Tomas Soliz</h2>
                            <p>Online</p>
                        </div>
                    </div>
                    <div>
                        <form action="#" method="GET">
                            <input type="text" placeholder="Buscar..."/>
                            <button type="sumbit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                </div>
                <div class="container_dashboard_list">
                    <ul>
                        <li>Dashboard</li>
                        <li>Balance</li>
                        <li>Productos</li>
                        <li>Nuevos Usuarios</li>
                        <li>Ventas</li>
                        <li>Proveedores</li>
                    </ul>
                </div>

                <div class="container_content_dashboard">
                    <div class="grafics">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="report">
                        <div>
                            <img src="" alt="">
                            <div>
                                <p>a ver que sale aca</p>
                                <p>a ver que sale aca</p>
                                <p>a ver que sale aca</p>
                                <p>a ver que sale aca</p>
                            </div>
                        </div>
                        <div class="balances_numerics">
                            <p>18%</p>
                            <p>20%</p>
                            <p>18%</p>
                            <p>20%</p>
                        </div>
                    </div>
                </div>

            </div>
        </main>

    </body>
</html>