<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <script src="https://kit.fontawesome.com/da299f3572.js" crossorigin="anonymous"></script>
    <title>Vida-Orgánica/Compras</title>
</head>
<body>
    <header>
       
    </header>
    <main class="carrito__main">
        <section class="carrito__main_section">
            <div class="carrito__main_section_barra-busqueda">
                <input type="text">   
            </div>
           <h2><i class="fa-solid fa-cart-shopping fa-xl" style="color: #22783d;"></i> Mi Carrito</h2></i>
           
        <section  class="carrito__main_section">
            <article class="carrito__main_section-product">
                <img src="" alt="producto1"> <h4>Producto1</h4> 

            </article>
            <article class="carrito__main_section-product">
                <img src="" alt="producto"> <h4>Producto2</h4>
            </article>
            <article class="carrito__main_section-product">
                <img src="" alt="producto"> <h4>Producto3</h4>
            </article>
            <article class="carrito__main_section-product">
                <img src="" alt="producto"> <h4>Producto4</h4>
            </article>
            <article class="carrito__main_section-product">
                <img src="" alt="producto"> <h4>Producto5</h4>
            </article>
            <article class="carrito__main_section-product">
                <img src="" alt="producto"> <h4>Producto6</h4>
            </article>
            <article class="carrito__main_section-product">
                <img src="" alt="producto"> <h4>Producto7</h4>
            </article>
        </section>
        <section  class="carrito__main_section">
            <article class="carrito__main_section-pago">
                <h3>Medios de Pago</h3>
                <ul>
                    <li><i class="fa-solid fa-credit-card"><p>debito</p></i></li>
                    <li><i class="fa-solid fa-credit-card"><p>credito</p></i></li>
                    <li><i class="fa-solid fa-credit-card"><p>mercadopago</p></i></li>
                </ul>
                <div class="carrito__main_section-pago-botones">
                    <button class="boton_a_inicio"><a href="./home.html">Seguir Comprando</a></button>
                    <button class="boton_pago">PAGAR</button>
                </div>
            </article>
            <article>

            </article>

        </section>
    </main>
    <footer>

    </footer>
</body>
</html>