<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/da299f3572.js" crossorigin="anonymous"></script>
    <title>Vida-Orgánica/Compras</title>
</head>

<body class="carrito__body">
    <header>

    </header>
    <main class="carrito__main">
        <h2>Carrito</h2>
        <section class="carrito__main_section">
            <article class="carrito__main_section-product">
                <img src="\img\leche-almendra.jpeg" alt="">
                <h4>Producto1</h4>
                <label class="unit" for="cant">unid</label>
                <select name="cantidad" id="cant">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <p class="precio"><i class="fa-solid fa-dollar-sign"></i>500</p>
                <button class="quit-product" type="button"><i class="fa-solid fa-square-xmark"></i></button>
            </article>
            <article class="carrito__main_section-product">
                <img src="\img\aceite-de-coco-gold-fish-x-500-ml.jpg" alt=>
                <h4>Producto2</h4>
                <label class="unit" for="cant">unid</label>
                <select name="cantidad" id="cant">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <p class="precio"><i class="fa-solid fa-dollar-sign"></i>500</p>
                <button class="quit-product" type="button"><i class="fa-solid fa-square-xmark"></i></button>
            </article>
            <article class="carrito__main_section-product">
                <img src="\img\mix-de-semillas-1.jpg" alt=>
                <h4>Producto3</h4>
                <label class="unit" for="cant">unid</label>
                <select name="cantidad" id="cant">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <p class="precio"><i class="fa-solid fa-dollar-sign"></i>500</p>
                <button class="quit-product" type="button"><i class="fa-solid fa-square-xmark"></i></button>
            </article>
            <article class="carrito__main_section-product">
                <img src="\img\miel-pura.jpeg" alt=>
                <h4>Producto4</h4>
                <label class="unit" for="cant">unid</label>
                <select name="cantidad" id="cant">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <p class="precio"><i class="fa-solid fa-dollar-sign"></i>500</p>
                <button class="quit-product" type="button"><i class="fa-solid fa-square-xmark"></i></button>
            </article>
            <article class="carrito__main_section-product">
                <img src="/img/salvado-1.png" alt=>
                <h4>Producto5</h4>
                <label class="unit" for="cant">unid</label>
                <select name="cantidad" id="cant">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <p class="precio"><i class="fa-solid fa-dollar-sign"></i>500</p>
                <button class="quit-product" type="button"><i class="fa-solid fa-square-xmark"></i></button>
            </article>
            <article class="carrito__main_section-product">
                <img src="\img\granos-maiz.jpg" alt=>
                <h4>Producto6</h4>
                <label class="unit" for="cant">unid</label>
                <select name="cantidad" id="cant">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <p class="precio"><i class="fa-solid fa-dollar-sign"></i>500</p>
                <button class="quit-product" type="button"><i class="fa-solid fa-square-xmark"></i></button>
            </article>
            <article class="carrito__main_section-product">
                <img src="\img\almidon.jpeg" alt=>
                <h4>Producto7</h4>
                <label class="unit" for="cant">unid</label>
                <select name="cantidad" id="cant">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <p class="precio"><i class="fa-solid fa-dollar-sign"></i>500</p>
                <button class="quit-product" type="button"><i class="fa-solid fa-square-xmark"></i></button>
            </article>
        </section>
        <section class="total_compra">
            <h3>TOTAL</h3>
            <p class="precio-t"><i class="fa-solid fa-dollar-sign"></i>4500</p>
        </section>
        <section class="carrito__main_section_pago">
            <h3>Medios de Pago</h3>
            <div class="carrito__main_section-pago-botones">
                <ul class="pay-method">
                    <li><label for="medio-de-pago"> credito<i class="fa-solid fa-credit-card"></i></label>
                        <input type="radio" name="medio-de-pago" value="credito">
                    <li><label for="medio-de-pago"> debito<i class="fa-solid fa-credit-card"></i></label>
                        <input type="radio" name="medio-de-pago" value="debito">
                    </li>
                    <li><label for="medio-de-pago"> mercadopago<i class="fa-solid fa-credit-card"></i></label>
                        <input type="radio" name="medio-de-pago" value="mercadopago">
                    </li>
                    </li>
                </ul>
                <ul class="pay-explore">
                    <button class="boton_explore"><a class="boton" href="http://localhost:3030">Seguir
                            Comprando</a></button>
                    <button class="boton_pagar" type="button">PAGAR</button>
                </ul>
            </div>
            </article>
            <article>

            </article>

        </section>
    </main>
    <footer>

    </footer>
</body>

</html>