<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/da299f3572.js" crossorigin="anonymous"></script>
    <title>Carrito</title>
</head>

<body class="carrito__body">
    <header class="home__header">
        <nav class="header__contenedor">
            <div class="header__contenedor-uno">
                <button class="header__nav--bt"><i class="fa-solid fa-bars"></i></button>
            </div>
            <div class="header__contenedor-dos">
                <a href="/"><img src="/img/logo.png" alt="logo de la pagina" class="imagen_logo"></a>
            </div>
            <div class="header__contenedor--iconos">
                <div class="header__contenedor-tres">
                    <a href="carrito"><i class="fa-solid fa-cart-shopping fa-2xl header_icono "></i></a>
                </div>
                <div class="header__contenedor-cuatro">
                    <a href=""><i class="far fa-question-circle fa-2xl header_icono"></i></a>
                </div>
                <div class="header__contenedor-cinco">
                    <a href="register"><i class="fas fa-user fa-2xl header_icono"></i></a>
                    <div class="menu__lista--3">

                        <a href="login.html">Iniciar Sesion</a>
                        <a href="./register.html">Registrate</a>

                    </div>
                </div>
            </div>
            <div class="header__contenedor-seis">
                <input type="text" class="input__buscador" placeholder="Buscar productos" />
                <i class="fa-solid fa-magnifying-glass icono_buscador"></i>
            </div>
        </nav>

        <nav class="header__nav--2">
            <ul class="menu">
                <li><a href="#">Alimentos Naturales <i class="fas fa-angle-down fa-sm"
                            style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Frutos Secos</a></li>
                        <li><a href="">Barritas & Snacs</a></li>
                        <li><a href="">Cereales & Granolas</a></li>
                        <li><a href="">Dulces y Mermeladas</a></li>
                    </ul>
                </li>
                <li><a href="#">Despensa <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Aceites</a></li>
                        <li><a href="">Edulcorantes</a></li>
                        <li><a href="">Especias</a></li>
                        <li><a href="">Semillas & Legumbres</a></li>
                        <li><a href="">Hierbas Naturales</a></li>
                    </ul>
                </li>
                <li><a href="#">Bebidas e Infuciones <i class="fas fa-angle-down fa-sm"
                            style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Leches Vegetales</a></li>
                        <li><a href="">Te & Cafe</a></li>
                        <li><a href="">Yerba Mate</a></li>
                        <li><a href="">Jugos</a></li>
                    </ul>
                </li>
                <li><a href="#">Cosmetica <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Cuidado Capilar</a></li>
                        <li><a href="">Cuidado Dental</a></li>
                        <li><a href="">Cuidado Corporal</a></li>
                    </ul>
                </li>
                <li><a href="#">Suplementos Naturales <i class="fas fa-angle-down fa-sm"
                            style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Suplementos Nutricionales</a></li>
                        <li><a href="">Tinturas Madres</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main class="carrito_body_main">
        <h2 class="carrito_main_title"><i class="fa-solid fa-cart-shopping fa-2xl carrito_nav"
                style="color: rgb(111, 222, 75);"></i>Carrito</h2>
        <section class="carrito_section_product-list">
            <ul class="carrito_lista-de-pruductos">
                <li class="carrito_producto">
                    <img src="\img\leche-almendra.jpeg" alt="">
                    <p class="product_name">Leche de almendras</p>
                    <label class="unit" for="cant">unid
                    <select name="cantidad" id="cant">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select></label>
                    <p class="precio"><i class="fa-solid fa-dollar-sign"></i>500</p>
                    <button class="quit-product" type="button"><i class="fa-solid fa-square-xmark"></i></button>
                </li>
                <li class="carrito_producto">
                    <img src="\img\aceite-de-coco-gold-fish-x-500-ml.jpg" alt=>
                    <p class="product_name">Aceite de coco</p>
                    <label class="unit" for="cant">unid
                    <select name="cantidad" id="cant">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select></label>
                    <p class="precio"><i class="fa-solid fa-dollar-sign"></i>500</p>
                    <button class="quit-product" type="button"><i class="fa-solid fa-square-xmark"></i></button>
                </li>
                <li class="carrito_producto">
                    <img src="\img\mix-de-semillas-1.jpg" alt=>
                    <p class="product_name">Mix de semillas</p>
                    <label class="unit" for="cant">unid
                    <select name="cantidad" id="cant">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select></label>
                    <p class="precio"><i class="fa-solid fa-dollar-sign"></i>500</p>
                    <button class="quit-product" type="button"><i class="fa-solid fa-square-xmark"></i></button>
                </li>
                <li class="carrito_producto">
                    <img src="\img\miel-pura.jpeg" alt=>
                    <p class="product_name">Miel pura</p>
                    <label class="unit" for="cant">unid
                    <select name="cantidad" id="cant">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select></label>
                    <p class="precio"><i class="fa-solid fa-dollar-sign"></i>500</p>
                    <button class="quit-product" type="button"><i class="fa-solid fa-square-xmark"></i></button>
                </li>
                <li class="carrito_producto">
                    <img src="/img/salvado-1.png" alt=>
                    <p class="product_name">Salvado</p>
                    <label class="unit" for="cant">unid
                    <select name="cantidad" id="cant">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select></label>
                    <p class="precio"><i class="fa-solid fa-dollar-sign"></i>500</p>
                    <button class="quit-product" type="button"><i class="fa-solid fa-square-xmark"></i></button>
                </li>
            </ul>
        </section>
        <section class="total_compra">
            <h3>TOTAL</h3>
            <p class="precio-t"><i class="fa-solid fa-dollar-sign"></i>3500</p>
        </section>
        <section class="carrito__main_section_pago">
            <h3>Medios de Pago</h3>
            <div class="carrito__main_section-pago-botones">
                <ul class="pay-method">
                    <li><label for="medio-de-pago"> credito<i class="fa-solid fa-credit-card"></i></label>
                        <input type="radio" name="medio-de-pago" value="credito">
                    <li><label for="medio-de-pago"> debito<i class="fa-solid fa-credit-card"></i></label>
                        <input type="radio" name="medio-de-pago" value="debito">
                    </li>
                    <li><label for="medio-de-pago"> monedero virtual<i class="fa-solid fa-credit-card"></i></label>
                        <input type="radio" name="medio-de-pago" value="mercadopago">
                    </li>
                    </li>
                </ul>
                <ul class="pay-explore">
                    <button class="boton_explore"><a class="boton" href="/">Seguir
                            Comprando</a></button>
                    <button class="boton_pagar" type="button">PAGAR</button>
                </ul>
            </div>
        </section>
    </main>

    <footer class="contenedor_footer">
        <h2 class="titulo_footer">Recibí nuestras novedades</h2>
        <form action="" class="contenedor_input">
            <input class="input_footer" type="email" name="Email" placeholder="Email">
        </form>

        <div class="contenedor_informacion">
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Sobre Nosotros</h4>
                <ul>
                    <li><a href="#">¿Que es dietética Vida Orgánica?</a></li>
                    <li><a href="#">Condiciones de Envío</a></li>
                    <li><a href="#">Ventas Corporativas</a></li>
                    <li><a href="#">Trabajá con Nosotros</a></li>
                </ul>
            </div>
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Ayuda</h4>
                <ul>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">Medios de Pago</a></li>
                    <li><a href="#">Política de cambios</a></li>
                    <li><a href="#">Locales Asociados</a></li>
                </ul>
            </div>
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Contactanos</h4>
                <ul class="contenedor_contacto">
                    <li><a href="#">Avenida libre 123<i class="fa fa-map-marker footer_icono-contacto"></i></a></li>
                    <li><a href="#">+549 1141716541<i class="fa fa-phone footer_icono-contacto"></i></a></li>
                    <li><a href="#">dieteticavidaorganica@gmail.com<i
                                class="fa fa-envelope footer_icono-contacto"></i></a></li>
                </ul>
            </div>
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Seguinos</h4>
                <div class="contenedor_iconos">
                    <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook footer_icono"
                            style="color: #1877f2" ;></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram footer_icono"
                            style="color: #D43089" ;></i></a>
                    <a href="https://www.tiktok.com" target="_blank"><i class="fa-brands fa-tiktok footer_icono" style="color: #000

                        " ;></i></a>
                    <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter footer_icono"
                            style="color:#25F4EE" ;></i></a>
                </div>
            </div>
        </div>
        <div class="titulo_footer-pie">
            <h4 class="subtitulo_footer-pie">Medios de pago</h4>
            <div class="contenedor_imagenes-footer">
                <img class="imagenes_footer" src="/img/img-redes/americanExpress.png"></a>
                <img class="imagenes_footer" src="/img/img-redes/mastercard.png"></a>
                <img class="imagenes_footer" src="/img/img-redes/visa.png"></a>
                <img class="imagenes_footer" src="/img/img-redes/mercadopago.jpg"></a>
            </div>
            <div class="contenedor_footer-copy">
                <p class="copyright">Copyright © 1999-2023 <a href="/" class="copy">Dietética Vida Orgánica</a> S.R.L</p>
            </div>
        </div>
    </footer>
</body>

</html>