<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Carrito' }) %>

    <body>

        <%- include('partials/header') %>

            <main class="carrito_body_main">

                <div class="carrito_body-title">
                    <p class="cart_detail"><a href="/">home</a> <i class="fa-solid fa-chevron-right"></i> <a
                            href="#">carrito</a></p>
                    <h2 class="carrito_main_title">Carrito de compras</h2>
                </div>

                <div class="carrito_body-container">
                    <div class="carrito_body-1">
                        <div class="carrito_lista-de-pruductos">
                            <hr class="cart_hr">
                            <div class="cart_detail-container">
                                <img src="\images\leche-almendra.jpg" alt="">
                                <div class="cart_detail-product">
                                    <h2>Leche de almendras</h2>
                                    <p>Promueve un estilo de vida saludable y equilibrado. Formulado con ingredientes naturales y nutritivos, este producto ofrece una opción deliciosa y satisfactoria para aquellos que buscan mantener una dieta consciente. Rico en nutrientes esenciales, bajo en calorías y sin ingredientes artificiales, es una elección ideal para apoyar tus metas de bienestar.
                                    </p>
                                    <p class="cart_precio">$1.200</p>

                                    <div class="cart_quantity">
                                        <i class="fa-solid fa-minus"></i>
                                        <input class="cart_input-quantity" type="number" placeholder="1" value="1"
                                            min="1">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                                <i class="fa-regular fa-circle-xmark delete-icon"></i>
                            </div>
                            <hr class="cart_hr">
                            <div class="carrito_lista-de-pruductos">
                                <div class="cart_detail-container">
                                    <img src="/images/miel-pura.jpg" alt="">
                                    <div class="cart_detail-product">
                                        <h2>Miel pura</h2>
                                        <p> Fomenta hábitos alimenticios saludables. Elaborado con ingredientes de calidad,nutricionalmente equilibrado que proporciona una opción deliciosa con su fórmula natural, bajo contenido calórico y sin aditivos artificiales, es una elección beneficiosa para respaldar tu bienestar general y mantener un estilo de vida sano."
                                        </p>
                                        <p class="cart_precio">$1.500</p>

                                        <div class="cart_quantity">
                                            <i class="fa-solid fa-minus"></i>
                                            <input class="cart_input-quantity" type="number" placeholder="1" value="1"
                                                min="1">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </div>
                                    <i class="fa-regular fa-circle-xmark delete-icon"></i>
                                </div>
                            </div>
                            <hr class="cart_hr">

                            <div class="cart_buttons">
                                <input type="text" name="text" id="tex" placeholder="Código de cupón">
                                <button class="aplication-product" type="submit">Aplicar cupón</button>
                                <button class="button-product" type="submit"><a href="/"><i
                                            class="fa-solid fa-arrow-left"></i> Seguir comprando</a></button>
                                <button class="quit-product" type="reset">Vaciar carrito</button>

                            </div>
                        </div>
                    </div>

                    <!-- conviene mas ponerlo en una table con bootstrap o css -->

                    <div class="carrito_body-2">
                        <h2>Total del carrito</h2>
                        <div class="cart_subtotal-pie">
                            <p>Subtotal </p>
                            <p>$2.700</p>
                        </div>
                        <hr>
                        <div class="cart_subtotal-pie">
                            <h3>Envío</h3>
                            <div class="cart_detail-total">
                                <p>Introducí tu dirección para ver las opciones de envío</p>
                                <a href="#">Calcular envío <i class="fa-solid fa-truck"></i></a>
                            </div>
                        </div>
                        <hr>
                        <div class="cart_subtotal-pie">
                            <h3>Total</h3>
                            <p>$2.700</p>
                        </div>
                        <div class="button_finalizar">
                            <button type="submit"><a href="/">Finalizar compra</a></button>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('partials/scripts') %>
            <%- include('partials/footer') %>
    </body>

</html>