<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" defer></script>
    <script src="/js/main.config.js" defer></script>
    <script src="https://kit.fontawesome.com/89495ba4f7.js" crossorigin="anonymous" defer></script>
    <title>Home - Vida Orgánica</title>
</head>

<body>
    <header class="home__header">
        <nav class="header__contenedor">
            <div class="header__contenedor-uno">
                <button class="header__nav--bt"><i class="fa-solid fa-bars"></i></button>
            </div>
            <div class="header__contenedor-dos">
                <a href="/"><img src="/img/logo.png" alt="logo de la pagina" class="imagen_logo"></a>
            </div>
            <div class="header__contenedor--iconos">
                <div class="header__contenedor-tres">
                    <a href="carrito"><i class="fa-solid fa-cart-shopping fa-2xl header_icono "></i></a>
                </div>
                <div class="header__contenedor-cuatro">
                    <a href=""><i class="far fa-question-circle fa-2xl header_icono"></i></a>
                </div>
                <div class="header__contenedor-cinco">
                    <a href="register"><i class="fas fa-user fa-2xl header_icono"></i></a>
                    <div class="menu__lista--3">
                      
                        <a href="login.html">Iniciar Sesion</a>
                        <a href="./register.html">Registrate</a>
                    
                    </div>  
                </div>
            </div>
            <div class="header__contenedor-seis">
                <input type="text" class="input__buscador" placeholder="Buscar productos" />
                <i class="fa-solid fa-magnifying-glass icono_buscador"></i>
            </div>
        </nav>
    
        <nav class="header__nav--2">
            <ul class="menu">
                <li><a href="#">Alimentos Naturales <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Frutos Secos</a></li>
                        <li><a href="">Barritas & Snacs</a></li>
                        <li><a href="">Cereales & Granolas</a></li>
                        <li><a href="">Dulces y Mermeladas</a></li>
                    </ul>
                </li>
                <li><a href="#">Despensa <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Aceites</a></li>
                        <li><a href="">Edulcorantes</a></li>
                        <li><a href="">Especias</a></li>
                        <li><a href="">Semillas & Legumbres</a></li>
                        <li><a href="">Hierbas Naturales</a></li>
                    </ul>
                </li>
                <li><a href="#">Bebidas e Infucuines <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a> 
                    <ul class="submenu">
                        <li><a href="">Leches Vegetales</a></li>
                        <li><a href="">Te & Cafe</a></li>
                        <li><a href="">Yerba Mate</a></li>
                        <li><a href="">Jugos</a></li>
                    </ul>
                </li>
                <li><a href="#">Cosmetica <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Cuidado Capilar</a></li>
                        <li><a href="">Cuidado Dental</a></li>
                        <li><a href="">Cuidado Corporal</a></li>
                    </ul>
                </li>    
                <li><a href="#">Suplementos Naturales <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Suplementos Nutricionales</a></li>
                        <li><a href="">Tinturas Madres</a></li>
                    </ul>
                </li> 
            </ul>
        </nav>
    </header>

    <main>
        <div class="swiper mySwiper container-swiper-main">
            <div class="swiper-wrapper ">
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/alimentos-naturales.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/despensa.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/cosmetica-natural.jpeg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/bebidas.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/images.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/alimentos-naturales.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/despensa.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/cosmetica-natural.jpeg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/bebidas.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/images.jpg" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper mySwiper container-swiper-envios">
            <div class="swiper-wrapper ">
                <div class="swiper-slide">
                    <div class="envios">
                        <i class="fa-solid fa-truck-fast fa-2xl icono-card"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Envíos Gratis</h4>
                            <p class="parrafo_descripcion">$8000 (CABA/GBA), $8000 (Interior)*</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="envios">
                        <i class="fa-regular fa-credit-card fa-2xl icono-card"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Tarjetas</h4>
                            <p class="parrafo_descripcion">Aceptamos todos los medios de pago</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="envios">
                        <i class="fa-regular fa-heart fa-2xl icono-card"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Control de Calidad</h4>
                            <p class="parrafo_descripcion">Ofrecemos amplios productos en stock y de calidad</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="envios">
                        <i class="fa-solid fa-shield-halved fa-2xl icono-card"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Compra Segura</h4>
                            <p class="parrafo_descripcion">En Dietética Vida Orgánica cuidamos tus datos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="container-envios-secundario">
            <div class="envios-secundario">
                <i class="fa-solid fa-truck-fast fa-2xl icono-card"></i>
                <div class="container-descripcion">
                    <h4 class="h4-descripcion">Envíos Gratis</h4>
                    <p class="parrafo_descripcion">$8000 (CABA/GBA), $8000 (Interior)*</p>
                </div>
            </div>
            <div class="envios-secundario">
                <i class="fa-regular fa-credit-card fa-2xl icono-card"></i>
                <div class="container-descripcion">
                    <h4 class="h4-descripcion">Tarjetas</h4>
                    <p class="parrafo_descripcion">Aceptamos todos los medios de pago</p>
                </div>
            </div>
            <div class="envios-secundario">
                <i class="fa-regular fa-heart fa-2xl icono-card"></i>
                <div class="container-descripcion">
                    <h4 class="h4-descripcion">Control de Calidad</h4>
                    <p class="parrafo_descripcion">Ofrecemos amplios productos en stock y de calidad</p>
                </div>
            </div>
            <div class="envios-secundario">
                <i class="fa-solid fa-shield-halved fa-2xl icono-card"></i>
                <div class="container-descripcion">
                    <h4 class="h4-descripcion">Compra Segura</h4>
                    <p class="parrafo_descripcion">En Dietética Vida Orgánica cuidamos tus datos</p>
                </div>
            </div>
        </div>

        <section class="container_section">
            <div class="flex">
                <div class="container_imagenes_main"><img class="imagen_main" src="/img/alimentos-naturales.jpg" alt="">
                </div>
                <div class="container_imagenes_main"><img class="imagen_main" src="/img/bebidas.jpg" alt=""></div>
            </div>
            <div class="flex">
                <div class="container_imagenes_main"><img class="imagen_main" src="/img/cosmetica-natural.jpeg" alt="">
                </div>
                <div class="container_imagenes_main"><img class="imagen_main-none" src="/img/bebidas.jpg" alt=""></div>
            </div>
        </section>
        <div class="container-articulo">
            <h2>destacados</h2>
            <div class="swiper mySwiper container-swiper-destacados">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="container-articulo">
            <h2>novedades</h2>
            <div class="swiper mySwiper container-swiper-novedades">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio-card">$5.000</p>
                            <button class="button-card">comprar</button>
                        </section>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <div class="container_div_pie">
            <a href="" class="link_redes">
                <i class="fa-brands fa-instagram fa-2xl"></i>
                <h3 class="h3_pie">Dietética Vida Orgánica</h3>
            </a>
            <p class="parrafo_pie">Estamos en instagram</p>
            <button class="button_pie">seguinos</button>
        </div>
    </main>

    <footer class="contenedor_footer">
        <h2 class="titulo_footer">Recibí nuestras novedades</h2>
        <form action="" class="contenedor_input">
            <input class="input_footer" type="email" name="Email" placeholder="Email">
        </form>

        <div class="contenedor_informacion">
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Sobre Nosotros</h4>
                <ul>
                    <li><a href="#">¿Que es dietética Vida Orgánica?</a></li>
                    <li><a href="#">Condiciones de Envío</a></li>
                    <li><a href="#">Ventas Corporativas</a></li>
                    <li><a href="#">Trabajá con Nosotros</a></li>
                </ul>
            </div>
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Ayuda</h4>
                <ul>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">Medios de Pago</a></li>
                    <li><a href="#">Política de cambios</a></li>
                    <li><a href="#">Locales Asociados</a></li>
                </ul>
            </div>
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Contactanos</h4>
                <ul class="contenedor_contacto">
                    <li><a href="#">Avenida libre 123<i class="fa fa-map-marker footer_icono-contacto"></i></a></li>
                    <li><a href="#">+549 1141716541<i class="fa fa-phone footer_icono-contacto"></i></a></li>
                    <li><a href="#">dieteticavidaorganica@gmail.com<i class="fa fa-envelope footer_icono-contacto"></i></a></li>
                </ul>
            </div>
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Seguinos</h4>
                <div class="contenedor_iconos">
                    <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook footer_icono" style="color: #1877f2";></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram footer_icono" style="color: #D43089";></i></a>
                    <a href="https://www.tiktok.com" target="_blank"><i class="fa-brands fa-tiktok footer_icono" style="color: #000

                        ";></i></a>
                    <a href="https://www.twitter.com" target="_blank" ><i class="fa fa-twitter footer_icono" style="color:#25F4EE";></i></a>  
                </div>
            </div>
        </div>
        <div class="titulo_footer-pie">
            <h4 class="subtitulo_footer-pie">Medios de pago</h4>
            <div class="contenedor_imagenes-footer">
                <img class="imagenes_footer" src="/img/img-redes/americanExpress.png" ></a>
                <img class="imagenes_footer" src="/img/img-redes/mastercard.png" ></a>
                <img class="imagenes_footer" src="/img/img-redes/visa.png"></a>
                <img class="imagenes_footer" src="/img/img-redes/mercadopago.jpg"></a>
            </div>
        </div>
    </footer>
</body>

</html>