<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>


    <main>
        <div class="swiper mySwiper container-swiper-main">
            <div class="swiper-wrapper ">
                <div class="swiper-slide"><img class="imagen_carousel" src="/images/alimentos-naturales.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/images/despensa.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/images/cosmetica-natural.jpeg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/images/bebidas.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/images/images.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/images/alimentos-naturales.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/images/despensa.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/images/cosmetica-natural.jpeg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/images/bebidas.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/images/images.jpg" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper mySwiper container-swiper-envios">
            <div class="swiper-wrapper ">
                <div class="swiper-slide">
                    <div class="envios">
                        <i class="fa-solid fa-truck-fast fa-2xl icono-card"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Envíos Gratis</h4>
                            <p class="parrafo_descripcion">$8000 (CABA/GBA), $8000 (Interior)*</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="envios">
                        <i class="fa-regular fa-credit-card fa-2xl icono-card"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Tarjetas</h4>
                            <p class="parrafo_descripcion">Aceptamos todos los medios de pago</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="envios">
                        <i class="fa-regular fa-heart fa-2xl icono-card"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Control de Calidad</h4>
                            <p class="parrafo_descripcion">Ofrecemos amplios productos en stock y de calidad</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="envios">
                        <i class="fa-solid fa-shield-halved fa-2xl icono-card"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Compra Segura</h4>
                            <p class="parrafo_descripcion">En Dietética Vida Orgánica cuidamos tus datos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="container-envios-secundario">
            <div class="envios-secundario">
                <i class="fa-solid fa-truck-fast fa-2xl icono-card"></i>
                <div class="container-descripcion">
                    <h4 class="h4-descripcion">Envíos Gratis</h4>
                    <p class="parrafo_descripcion">$8000 (CABA/GBA), $8000 (Interior)*</p>
                </div>
            </div>
            <div class="envios-secundario">
                <i class="fa-regular fa-credit-card fa-2xl icono-card"></i>
                <div class="container-descripcion">
                    <h4 class="h4-descripcion">Tarjetas</h4>
                    <p class="parrafo_descripcion">Aceptamos todos los medios de pago</p>
                </div>
            </div>
            <div class="envios-secundario">
                <i class="fa-regular fa-heart fa-2xl icono-card"></i>
                <div class="container-descripcion">
                    <h4 class="h4-descripcion">Control de Calidad</h4>
                    <p class="parrafo_descripcion">Ofrecemos amplios productos en stock y de calidad</p>
                </div>
            </div>
            <div class="envios-secundario">
                <i class="fa-solid fa-shield-halved fa-2xl icono-card"></i>
                <div class="container-descripcion">
                    <h4 class="h4-descripcion">Compra Segura</h4>
                    <p class="parrafo_descripcion">En Dietética Vida Orgánica cuidamos tus datos</p>
                </div>
            </div>
        </div>

        <section class="container_section">
            <div class="flex">
                <div class="container_imagenes_main"><img class="imagen_main" src="/images/alimentos-naturales.jpg" alt="">
                </div>
                <div class="container_imagenes_main"><img class="imagen_main" src="/images/bebidas.jpg" alt=""></div>
            </div>
            <div class="flex">
                <div class="container_imagenes_main"><img class="imagen_main" src="/images/cosmetica-natural.jpeg" alt="">
                </div>
                <div class="container_imagenes_main"><img class="imagen_main-none" src="/images/bebidas.jpg" alt=""></div>
            </div>
        </section>
        <div class="container-articulo">
            <h2>destacados</h2>
            <div class="swiper mySwiper container-swiper-destacados">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="container-articulo">
            <h2>novedades</h2>
            <div class="swiper mySwiper container-swiper-novedades">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <div class="container-info-main">
                                <h4 class="description">Leche de almendras</h4>
                                <p class="precio-card">$5.000</p>
                                <button class="button-card"><a class="link_card" href="productsDetails">comprar</a></button>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <div class="container_div_pie">
            <a href="" class="link_redes">
                <i class="fa-brands fa-instagram fa-2xl"></i>
                <h3 class="h3_pie">Dietética Vida Orgánica</h3>
            </a>
            <p class="parrafo_pie">Estamos en instagram</p>
            <button class="button_pie"><a class="link_pie" href="https://www.instagram.com" target="_blank">seguinos</a></button>
        </div>
    </main>
    <%- include('partials/footer') %>

<<<<<<< HEAD:src/views/home.html
    <footer class="contenedor_footer">
        <h2 class="titulo_footer">Recibí nuestras novedades</h2>
        <form action="" class="contenedor_input">
            <input class="input_footer" type="email" name="Email" placeholder="Email">
        </form>

        <div class="contenedor_informacion">
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Sobre Nosotros</h4>
                <ul>
                    <li><a href="#">¿Que es dietética Vida Orgánica?</a></li>
                    <li><a href="#">Condiciones de Envío</a></li>
                    <li><a href="#">Ventas Corporativas</a></li>
                    <li><a href="#">Trabajá con Nosotros</a></li>
                </ul>
            </div>
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Ayuda</h4>
                <ul>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">Medios de Pago</a></li>
                    <li><a href="#">Política de cambios</a></li>
                    <li><a href="#">Locales Asociados</a></li>
                </ul>
            </div>
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Contactanos</h4>
                <ul class="contenedor_contacto">
                    <li><a href="#">Avenida libre 123<i class="fa fa-map-marker footer_icono-contacto"></i></a></li>
                    <li><a href="#">+549 1141716541<i class="fa fa-phone footer_icono-contacto"></i></a></li>
                    <li><a href="#">dieteticavidaorganica@gmail.com<i
                                class="fa fa-envelope footer_icono-contacto"></i></a></li>
                </ul>
            </div>
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Seguinos</h4>
                <div class="contenedor_iconos">
                    <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook footer_icono"
                            style="color: #1877f2" ;></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram footer_icono"
                            style="color: #D43089" ;></i></a>
                    <a href="https://www.tiktok.com" target="_blank"><i class="fa-brands fa-tiktok footer_icono" style="color: #000

                        " ;></i></a>
                    <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter footer_icono"
                            style="color:#25F4EE" ;></i></a>
                </div>
            </div>
        </div>
        <div class="titulo_footer-pie">
            <h4 class="subtitulo_footer-pie">Medios de pago</h4>
            <div class="contenedor_imagenes-footer">
                <img class="imagenes_footer" src="/img/img-redes/americanExpress.png"></a>
                <img class="imagenes_footer" src="/img/img-redes/mastercard.png"></a>
                <img class="imagenes_footer" src="/img/img-redes/visa.png"></a>
                <img class="imagenes_footer" src="/img/img-redes/mercadopago.jpg"></a>
            </div>
            <div class="contenedor_footer-copy">
                <p class="copyright">Copyright © 1999-2023 <a href="/" class="copy">Dietética Vida Orgánica</a> S.R.L
                </p>
            </div>
        </div>
    </footer>
=======
>>>>>>> 48892437ca6678bf5a4e81ab0900b99ffc335882:src/views/index.ejs
</body>

</html>