<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/7645f80506.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>
    <header class="home__header">
        <nav class="header__contenedor">
            <div class="header__contenedor-uno">
                <button class="header__nav--bt"><i class="fa-solid fa-bars"></i></button>
            </div>
            <div class="header__contenedor-dos">
                <a href="/"><img src="/img/logo.png" alt="logo de la pagina" class="imagen_logo"></a>
            </div>
            <div class="header__contenedor--iconos">
                <div class="header__contenedor-tres">
                    <a href="carrito"><i class="fa-solid fa-cart-shopping fa-2xl header_icono "></i></a>
                </div>
                <div class="header__contenedor-cuatro">
                    <a href=""><i class="far fa-question-circle fa-2xl header_icono"></i></a>
                </div>
                <div class="header__contenedor-cinco">
                    <a href="register"><i class="fas fa-user fa-2xl header_icono"></i></a>
                </div>
            </div>
            <div class="header__contenedor-seis">
                <input type="text" class="input__buscador" placeholder="Buscar productos" />
                <i class="fa-solid fa-magnifying-glass icono_buscador"></i>
            </div>
        </nav>
    
        <nav class="header__nav--2">
            <ul class="menu">
                <li><a href="#">Alimentos Naturales <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Frutos Secos</a></li>
                        <li><a href="">Barritas & Snacs</a></li>
                        <li><a href="">Cereales & Granolas</a></li>
                        <li><a href="">Dulces y Mermeladas</a></li>
                    </ul>
                </li>
                <li><a href="#">Despensa <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Aceites</a></li>
                        <li><a href="">Edulcorantes</a></li>
                        <li><a href="">Especias</a></li>
                        <li><a href="">Semillas & Legumbres</a></li>
                        <li><a href="">Hierbas Naturales</a></li>
                    </ul>
                </li>
                <li><a href="#">Bebidas e Infuciones <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a> 
                    <ul class="submenu">
                        <li><a href="">Leches Vegetales</a></li>
                        <li><a href="">Te & Cafe</a></li>
                        <li><a href="">Yerba Mate</a></li>
                        <li><a href="">Jugos</a></li>
                    </ul>
                </li>
                <li><a href="#">Cosmetica <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Cuidado Capilar</a></li>
                        <li><a href="">Cuidado Dental</a></li>
                        <li><a href="">Cuidado Corporal</a></li>
                    </ul>
                </li>    
                <li><a href="#">Suplementos Naturales <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Suplementos Nutricionales</a></li>
                        <li><a href="">Tinturas Madres</a></li>
                    </ul>
                </li> 
            </ul>
        </nav>
    </header>
    
    <main>
       <!-- CABECERA -->

        <h2>Iniciá Sesión</h2>

        <!-- FORMULARIO -->

        <section class="formulario">
            <p>Los campos con (*) son obligatorios</p>
            <div class="inputs">
                <form class="formu" method="">
                    <div class="espacio">
                        <label for="email">E-mail<p>*</p></label>
                        <input type="email" id="email" name="email" placeholder="Ej: mariaperez@mercadoliebre.com">
                    </div>

                    <div class="espacio">
                        <label for="password">Contraseña<p>*</p></label>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <div class="user">
                        <label for="user">Recordar mi usuario</label>
                        <input type="checkbox" value="Suscripción">
                        <a href="">¿Olvidaste tu contraseña?</a>
                    </div>

                    
                </form>
            </div>
            <div class="btn">
                <button type="submit"><b>INICIAR SESIÓN</b></button>
            </div>
            <section class="extra">
                <div class="register">
                    <p>¿No tenés cuenta aún?</p><a href="/src/views/register.html">Creá una</a>
                </div>
            </section>

        </section>
    </main>

    <footer class="contenedor_footer">
        <h2 class="titulo_footer">Recibí nuestras novedades</h2>
        <form action="" class="contenedor_input">
            <input class="input_footer" type="email" name="Email" placeholder="Email">
        </form>

        <div class="contenedor_informacion">
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Sobre Nosotros</h4>
                <ul>
                    <li><a href="#">¿Que es dietética Vida Orgánica?</a></li>
                    <li><a href="#">Condiciones de Envío</a></li>
                    <li><a href="#">Ventas Corporativas</a></li>
                    <li><a href="#">Trabajá con Nosotros</a></li>
                </ul>
            </div>
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Ayuda</h4>
                <ul>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">Medios de Pago</a></li>
                    <li><a href="#">Política de cambios</a></li>
                    <li><a href="#">Locales Asociados</a></li>
                </ul>
            </div>
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Contactanos</h4>
                <ul class="contenedor_contacto">
                    <li><a href="#">Avenida libre 123<i class="fa fa-map-marker footer_icono-contacto"></i></a></li>
                    <li><a href="#">+549 1141716541<i class="fa fa-phone footer_icono-contacto"></i></a></li>
                    <li><a href="#">dieteticavidaorganica@gmail.com<i class="fa fa-envelope footer_icono-contacto"></i></a></li>
                </ul>
            </div>
            <div class="contenedor_informacion-parte">
                <h4 class="subtitulo_footer">Seguinos</h4>
                <div class="contenedor_iconos">
                    <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook footer_icono" style="color: #1877f2";></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram footer_icono" style="color: #D43089";></i></a>
                    <a href="https://www.tiktok.com" target="_blank"><i class="fa-brands fa-tiktok footer_icono" style="color: #000

                        ";></i></a>
                    <a href="https://www.twitter.com" target="_blank" ><i class="fa fa-twitter footer_icono" style="color:#25F4EE";></i></a>  
                </div>
            </div>
        </div>
        <div class="titulo_footer-pie">
            <h4 class="subtitulo_footer-pie">Medios de pago</h4>
            <div class="contenedor_imagenes-footer">
                <img class="imagenes_footer" src="/img/img-redes/americanExpress.png" ></a>
                <img class="imagenes_footer" src="/img/img-redes/mastercard.png" ></a>
                <img class="imagenes_footer" src="/img/img-redes/visa.png"></a>
                <img class="imagenes_footer" src="/img/img-redes/mercadopago.jpg"></a>
            </div>
            <div class="contenedor_footer-copy">
                <p class="copyright">Copyright © 1999-2023 <a href="/" class="copy">Dietética Vida Orgánica</a> S.R.L</p>
            </div>
        </div>
    </footer>
</body>

</html>