<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {
    title: 'A침adir'
}) %>

    <body>

        <%- include('partials/header') %>
            <main>
                <div class="container_form-add">
                    <h2 class="title_form-add">A침adir productos</h2>
                    <form class="form-add" action="">
                        <div class="container_input-add">
                            <div class="input-add">
                                <label for="name">Nombre</label>
                                <input type="text" id="name">
                            </div>
                            <div class="input-add">
                                <label for="brand">Marca</label>
                                <input type="text" id="brand">
                            </div>
                            <div class="input-add">
                                <label for="price">Precio</label>
                                <input type="number" id="price">
                            </div>
                            <div class="input-add">
                                <label for="discount">Descuento</label>
                                <input type="number" id="discount">
                            </div>
                        </div>
                        <div class="container_input-add">
                            <div class="input-add">
                                <label for="name">Descripci칩n</label>
                                <textarea id="description" rows="3"
                                    placeholder="Breve descripci칩n del producto"></textarea>
                            </div>
                        </div>
                        <div class="container_button-form">
                            <button class="button-form">Agregar</button>
                            <button class="button-form-delete">Eliminar</button>
                        </div>
                    </form>
            </main>

            <%- include('partials/footer') %>

    </body>

</html>