<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/89495ba4f7.js" crossorigin="anonymous" defer></script>
    <script src="/js/productsDetails.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Producto</title>
</head>

<body>
    <header>
        <h1>Logo</h1>
    </header>
    <div class="container-title"> zapatos</div>
    <main>
        <div class="container-img">
            <img src="/img/almidon.jpeg" alt="">
        </div>
        <div class="container-info-product">
            <div class="container-price">
                <span>$95.00 </i></span>
                <i class="fa-regular fa-chevron-right"></i>
            </div>
            <div class="container-detail-product">
                <div class="form-group">
                    <label for="colour">Color</label>
                    <select name="color" id="color">
                        <option disabled selected value="">Escoge una Opcion</option>
                        <option value="rojo">Rojo</option>
                        <option value="blanco">Blanco</option>
                        <option value="Beige">Beige</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="size">Color</label>
                    <select name="size" id="size">
                        <option disabled selected value="">Escoge una Opcion</option>
                        <option value="40">40</option>
                        <option value="42">42</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                    </select>
                </div>
                <button class="btn-clean">limpiar</button>
            </div>
            <div class="container-add-cart">
                <div class="container-quantity">
                    <input class="input-quantity" type="number" placeholder="1" value="1" min="1">
                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up"></i>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>
            <div class="container-description">
                <div class="title-decription">
                    <h4>Descripcion</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum facilis hic, autem ipsam qui voluptas tempore, consectetur tempora in eveniet corporis cupiditate? Quae iure architecto itaque eligendi ducimus quisquam minus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum placeat fugit, deserunt officia architecto molestiae atque consequatur. Beatae quod ex, omnis, voluptatem labore, quos voluptate dicta tempore sunt qui praesentium?
                    </p>
                </div>
            </div>
            <div class="container-additional-information">
                <div class="title-additional-information">
                    <h4>Informacion adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-additional-information">
                   <p> ----------------- </p>
                </div>
            </div>
            <div class="container-reviews">
                <div class="title-reviews">
                    <h4>Reseñas</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews">
                   <p> ----------------- </p>
                </div>
            </div>
            <div class="container-social">
                <span>Compartir</span>
                <div class="container-buttons-social">
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                </div>
            </div>
        </div>

    </main>

    <section class="container-related-productlls">
        <h2>Productos relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src="/img/almidon.jpeg" alt="">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Nike-roshe Run</h3>
                        <p class="category">
                            Footwear, Sneakers
                        </p>
                    </div>
                    <div class="price">$85.00</div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/img/almidon.jpeg" alt="">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Nike-roshe Run</h3>
                        <p class="category">
                            Algo diferente
                        </p>
                    </div>
                    <div class="price">$35.00</div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/img/almidon.jpeg" alt="">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Nike-roshe Run</h3>
                        <p class="category">
                            Que es esto tomas
                        </p>
                    </div>
                    <div class="price">$165.00</div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>Footer</p>
    </footer>

</body>

</html>