<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {
    title: 'Productos'
}) %>

    <body>

        <%- include('partials/header') %>

            <main class="container-general">
                <div class="container-img">
                    <img src="/images/almidon.jpeg" alt="">
                </div>
                <div class="container-info-product">
                    <div class="container-name">
                        <span>Nombre del producto dietético</span>
                    </div>
                    <div class="container-detail-product">
                        <div class="form-group">
                            <label for="cantidad">Presentación</label>
                            <select name="cantidad" id="cantidad">
                                <option disabled selected value="">Escoge una Opcion</option>
                                <option value="medida-uno">300gr</option>
                                <option value="medida-dos">500gr</option>
                                <option value="medida-tres">1kg</option>
                                <option value="medida-cuatro">2kg</option>
                            </select>
                        </div>
                    </div>
                    <div class="container-add-cart">
                        <div class="container-quantity">
                            <input class="input-quantity" type="number" placeholder="1" value="1" min="1">
                            <div class="btn-increment-decrement">
                                <i class="fa-solid fa-chevron-up"></i>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <button class="btn-add-to-cart">
                            <i class="fa-solid fa-plus"></i>
                            Añadir al carrito
                        </button>
                    </div>
                    <div class="container-description">
                        <div class="title-decription">
                            <h4>Descripcion</h4>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="text-description">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum facilis hic, autem ipsam
                                qui
                                voluptas tempore, consectetur tempora in eveniet corporis cupiditate? Quae iure
                                architecto
                                itaque eligendi ducimus quisquam minus? Lorem ipsum dolor, sit amet consectetur
                                adipisicing
                                elit. Earum placeat fugit, deserunt officia architecto molestiae atque consequatur.
                                Beatae quod
                                ex, omnis, voluptatem labore, quos voluptate dicta tempore sunt qui praesentium?
                            </p>
                        </div>
                    </div>
                    <div class="container-additional-information">
                        <div class="title-additional-information">
                            <h4>Informacion adicional</h4>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="text-additional-information">
                            <p> ----------------- </p>
                        </div>
                    </div>
                    <div class="container-reviews">
                        <div class="title-reviews">
                            <h4>Reseñas</h4>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="text-reviews">
                            <p> ----------------- </p>
                        </div>
                    </div>
                    <div class="container-social">
                        <span>Compartir</span>
                        <div class="container-buttons-social">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
            </main>

            <!-- tengo que poner en un swiper -->

            <!-- <section class="container-related-products">
                <h2>Productos relacionados</h2>
                <div class="card-list-products">
                    <div class="card">
                        <div class="card-img">
                            <img src="/images/almidon.jpeg" alt="">
                        </div>
                        <div class="info-card">
                            <div class="text-products">
                                <h3>Nike-roshe Run</h3>
                                <p class="category">Footwear, Sneakers</p>
                            </div>
                            <div class="price">$85.00</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img">
                            <img src="/images/almidon.jpeg" alt="">
                        </div>
                        <div class="info-card">
                            <div class="text-products">
                                <h3>Nike-roshe Run</h3>
                                <p class="category">Footwear, Sneakers</p>
                            </div>
                            <div class="price">$85.00</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img">
                            <img src="/images/almidon.jpeg" alt="">
                        </div>
                        <div class="info-card">
                            <div class="text-products">
                                <h3>Nike-roshe Run</h3>
                                <p class="category">Footwear, Sneakers</p>
                            </div>
                            <div class="price">$85.00</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img">
                            <img src="/images/almidon.jpeg" alt="">
                        </div>
                        <div class="info-card">
                            <div class="text-products">
                                <h3>Nike-roshe Run</h3>
                                <p class="category">Footwear, Sneakers</p>
                            </div>
                            <div class="price">$85.00</div>
                        </div>
                    </div>
                </div>
            </section> -->
            </div>

            <%- include('partials/footer') %>

    </body>

</html>