<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<!-- HEADER -->

<body>
<%- include('partials/header') %>
    

    <main>

         <!-- CABECERA  -->

        <section class="cabecera">
            <h2>CREAR CUENTA</h2>

            <p><i class="fas fa-gift"></i> Recibí increíbles regalos y gestiona tus compras <i class="fas fa-gift"></i>
            </p>
            <p class="p-desktop">Llevá el control de tus pedidos y ganá excelentes premios por compras registradas</p>

        </section>

        <!-- FORMULARIO -->

        <section class="formulario">
            <p>Los campos con (*) son obligatorios</p>
            <div class="inputs">
                <form class="formu" method="">

                    <div class="espacio">
                        <label for="nombre">Nombre/s y Apellido/s<p>*</p></label>
                        <input type="text" id="nombre" name="nombre" placeholder="Ej: Maria Perez">
                    </div>

                    <div class="espacio">
                        <label for="email">E-mail<p>*</p></label>
                        <input type="email" id="email" name="email" placeholder="Ej: mariaperez@mercadoliebre.com">
                    </div>

                    <div class="espacio">
                        <label for="password">Contraseña<p>*</p></label>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <div class="espacio">
                        <label for="passwordConf">Confirmar contraseña<p>*</p></label>
                        <input type="password" id="passwordConf" name="password" required>
                    </div>
                </form>
            </div>
            <section class="extras">
                <div class="promociones">
                    <label for="promociones">Deseo recibir promociones</label>
                    <input type="checkbox" value="Suscripción">
                </div>
                <div class="newsletter">
                    <label for="newsletter">Suscribirme al newsletter </label>
                    <input type="checkbox" value="Suscripción">
                </div>
            </section>
            <button type="submit" class="btn-submit"><b>CREAR CUENTA</b></button>
        </section>
    </main>

<%- include('partials/footer') %>
   
</body>

</html>