<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7645f80506.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>
<!-- HEADER -->

<body>
    <!-- <header class="home__header">
        <nav class="header__nav">
            <div class="header__contenedor uno">
                <button class="header__nav--bt"><i class="fa-solid fa-bars fa-2xl"
                        style="color: rgb(111, 222, 75);"></i></i></button>
            </div>
            <div class="header__contenedor dos">
                <a href="/"><img src="/img/logo.png" alt="log0 de la pagina"></a>
            </div>
            <div class="header__contenedor tres">
                <a href="carrito" class="carrito"><i class="fa-solid fa-cart-shopping fa-2xl carrito_nav"
                        style="color: rgb(111, 222, 75);"></i></a>
            </div>
            <div class="header__contenedor cuatro">
                <a href=""><i class="far fa-question-circle fa-2xl" style="color: rgb(111, 222, 75);"></i></a>
            </div>
            <div class="header__contenedor cinco">
                <a href="register"><i class="fas fa-user fa-2xl"
                        style="color: rgb(111, 222, 75);"></i></a>
            </div>
            <div class="header__contenedor seis">
                <form action="">
                    <input type="text" class="icono_buscador" placeholder="Buscar productos" />
                    <button class="header__nav--bt2" type="submit"><i class="fa-solid fa-magnifying-glass fa-xl"
                            style="color:rgb(111, 222, 75)"></i></button>
                </form>
            </div>
        </nav>
        <nav class="header__nav--2">
            <ul class="menu">
                <li><a href="#">Alimentos Naturales <i class="fas fa-angle-down fa-sm"
                            style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Frutos Secos</a></li>
                        <li><a href="">Barritas & Snacs</a></li>
                        <li><a href="">Cereales & Granolas</a></li>
                        <li><a href="">Dulces y Mermeladas</a></li>
                    </ul>
                </li>
                <li><a href="#">Despensa <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Aceites</a></li>
                        <li><a href="">Edulcorantes</a></li>
                        <li><a href="">Especias</a></li>
                        <li><a href="">Semillas & Legumbres</a></li>
                        <li><a href="">Hierbas Naturales</a></li>
                    </ul>
                </li>
                <li><a href="#">Bebidas e Infusiones <i class="fas fa-angle-down fa-sm"
                            style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Leches Vegetales</a></li>
                        <li><a href="">Te & Cafe</a></li>
                        <li><a href="">Yerba Mate</a></li>
                        <li><a href="">Jugos</a></li>
                    </ul>
                </li>
                <li><a href="#">Cosmetica <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Cuidado Capilar</a></li>
                        <li><a href="">Cuidado Dental</a></li>
                        <li><a href="">Cuidado Corporal</a></li>
                    </ul>
                </li>
                <li><a href="#">Suplementos Naturales <i class="fas fa-angle-down fa-sm"
                            style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Suplementos Nutricionales</a></li>
                        <li><a href="">Tinturas Madres</a></li>
                    </ul>
                </li>


            </ul>
        </nav>
    </header>

    <main>
         CABECERA 

        <section class="cabecera">
            <h2>CREAR CUENTA</h2>

            <p><i class="fas fa-gift"></i> Recibí increíbles regalos y gestiona tus compras <i class="fas fa-gift"></i>
            </p>
            <p class="p-desktop">Llevá el control de tus pedidos y ganá excelentes premios por compras registradas</p>

        </section>

        FORMULARIO

        <section class="formulario">
            <p>Los campos con (*) son obligatorios</p>
            <div class="inputs">
                <form class="formu" method="">

                    <div class="espacio">
                        <label for="nombre">Nombre/s y Apellido/s<p>*</p></label>
                        <input type="text" id="nombre" name="nombre" placeholder="Ej: Maria Perez">
                    </div>

                    <div class="espacio">
                        <label for="email">E-mail<p>*</p></label>
                        <input type="email" id="email" name="email" placeholder="Ej: mariaperez@mercadoliebre.com">
                    </div>

                    <div class="espacio">
                        <label for="password">Contraseña<p>*</p></label>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <div class="espacio">
                        <label for="passwordConf">Confirmar contraseña<p>*</p></label>
                        <input type="password" id="passwordConf" name="password" required>
                    </div>
                </form>
            </div>
            <section class="extras">
                <div class="promociones">
                    <label for="promociones">Deseo recibir promociones</label>
                    <input type="checkbox" value="Suscripción">
                </div>
                <div class="newsletter">
                    <label for="newsletter">Suscribirme al newsletter </label>
                    <input type="checkbox" value="Suscripción">
                </div>
            </section>
            <button type="submit" class="btn-submit"><b>CREAR CUENTA</b></button>
        </section>
    </main>
    <footer>
        <div class="footer__novedades">
            <h2>Recibí nuestras novedades</h2>
            <form class="footer__novedades__email">
                <input type="email" name="Email">
                <button type="submit" name="Submit" value="→">→</submit>
            </form>
        </div>
        <div class="footer__info">
            <ul>
                <li class="footer__info__ul__li__institucional">Institucional</li>
                <li class="footer__info__ul__li__sobre--dietetica">Sobre Dietética Vida Sana</li>
                <li class="footer__info__ul__li__condiciones">Condiciones de envio</li>
                <li class="footer__info__ul__li__devoluciones">Devoluciones</li>
            </ul>
        </div>
        <div class="footer__contact">
            <h2>Contactanos</h2>
            <img src="/img/img-redes/gmail.png" alt="Gmail dietética">
            <h4>pedidos@dietvidasana.com</h4>
        </div>
        <div class="footer__redes__sociales">
            <h3 class="follow">Seguinos</h3>
            <a href="https://www.instagram.com" target="_blank" class="footer__instagram"><img src="/img/img-redes/instagram.png" width="40px" height="40px" alt="instagram"></a>
            <a href="https://www.facebook.com" target="_blank" class="footer__facebook"><img src="/img/img-redes/facebook.png" width="40px" height="40px" alt="facebook"></a>
            <a href="https://www.twitter.com" target="_blank" class="footer__twitter"><img src="/img/img-redes/twitter.png" width="40px" height="40px" alt="twitter"></a>
        </div>
        <div class="footer__method--pay">
            <ul>
                <li>Mercado pago<a href="https://www.mercadopago.com" target="_blank"><img src="/img/img-redes/credit-card.png" width="40px" height="40px" alt="Mercado Pago"></a></li>
            </ul>
        </div>
    </footer>
</body> -->

</html>