<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Registro' }) %>

    <body>

        <%- include('partials/header') %>

            <main>

              <div>

                <!-- BOTONES -->

                <a href="/" class="link-register"><button type="submit" class="btn-submit">CREAR CUENTA</button></a>

                <a href="/" class="link-register"><button type="submit" class="btn-submit">INICIAR SESION</button></a> 

              </div>

              
            </main>

            <%- include('partials/footer') %>

    </body>

</html>