<footer class="contenedor_footer">
    <h2 class="titulo_footer">Recibí nuestras novedades</h2>
    <form action="" class="contenedor_input">
        <input class="input_footer" type="email" name="Email" placeholder="Email">
    </form>

    <div class="contenedor_informacion">
        <div class="contenedor_informacion-parte">
            <h4 class="subtitulo_footer">Sobre Nosotros</h4>
            <ul>
                <li><a href="#">¿Que es dietética Vida Orgánica?</a></li>
                <li><a href="#">Condiciones de Envío</a></li>
                <li><a href="#">Ventas Corporativas</a></li>
                <li><a href="#">Trabajá con Nosotros</a></li>
            </ul>
        </div>
        <div class="contenedor_informacion-parte">
            <h4 class="subtitulo_footer">Ayuda</h4>
            <ul>
                <li><a href="#">¿Cómo comprar?</a></li>
                <li><a href="#">Medios de Pago</a></li>
                <li><a href="#">Política de cambios</a></li>
                <li><a href="#">Locales Asociados</a></li>
            </ul>
        </div>
        <div class="contenedor_informacion-parte">
            <h4 class="subtitulo_footer">Contactanos</h4>
            <ul class="contenedor_contacto">
                <li><a href="#">Avenida libre 123<i class="fa fa-map-marker footer_icono-contacto"></i></a></li>
                <li><a href="#">+549 1141716541<i class="fa fa-phone footer_icono-contacto"></i></a></li>
                <li><a href="#">dieteticavidaorganica@gmail.com<i class="fa fa-envelope footer_icono-contacto"></i></a></li>
            </ul>
        </div>
        <div class="contenedor_informacion-parte">
            <h4 class="subtitulo_footer">Seguinos</h4>
            <div class="contenedor_iconos">
                <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook footer_icono" style="color: white";></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram footer_icono" style="color: white";></i></a>
                <a href="https://www.tiktok.com" target="_blank"><i class="fa-brands fa-tiktok footer_icono" style="color: white";></i></a>
                <a href="https://www.twitter.com" target="_blank" ><i class="fa fa-twitter footer_icono" style="color:white";></i></a>  
            </div>
        </div>
    </div>
    <div class="titulo_footer-pie">
        <h4 class="subtitulo_footer-pie">Medios de pago</h4>
        <div class="contenedor_imagenes-footer">
            <img class="imagenes_footer" src="/images/img-redes/americanExpress.png" ></a>
            <img class="imagenes_footer" src="/images/img-redes/mastercard.png" ></a>
            <img class="imagenes_footer" src="/images/img-redes/visa.png"></a>
            <img class="imagenes_footer" src="/images/img-redes/mercadopago.jpg"></a>
        </div>
        <div class="contenedor_footer-copy">
            <p class="copyright">Copyright © 1999-2023 <a href="/" class="copy">Dietética Vida Orgánica</a>
                S.R.L</p>
        </div>
    </div>
    <div>
        <a href="https://www.whatsapp.com/?lang=es_LA" class="button_whatsapp" target="_blank"><i class="fa-brands fa-whatsapp"></i></a> 
     </div>
</footer>