<header class="home__header">
    <nav class="header__contenedor">
        <div class="header__contenedor-uno">
            <button class="header__nav--bt"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="header__contenedor-dos">
            <a href="/"><img src="/images/logo.png" alt="logo de la pagina" class="imagen_logo"></a>
        </div>
        <div class="header__contenedor--iconos">
            <button id="btn-cart" type="button" class="btn btn-transparent position-relative me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-cart-shopping fa-xl carrito_index" ></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark" id="show-count-cart" hidden>
                
                </span>
            </button>
            <div class="header__contenedor-cinco">
                <a href="/users/register"><i class="fas fa-user fa-2xl header_icono"></i></a>
                <div class="menu__lista--3">
                    <% if (!locals.userLogin) { %>
                        <a href="/users/login">Iniciar Sesión</a>
                        <a href="/users/register">Registrate</a>
                    <% }else{ %>
                        <% if (userLogin.rol === 1) { %>
                            <a href="/admin">Admin</a>
                        <% } %>
                        
                        <a href="/users/profile">Hola <%= userLogin.name %>!</a>
                        <a href="/users/logout">Salir</a>
                    <% } %>

                </div>

                

            </div>
        </div>
        <div class="header__contenedor-seis">
            <form action="/search" method="GET">
            <input type="text" name="keywords" class="input__buscador" placeholder="Buscar productos"/>
            <button type="sumbit"><i class="fa-solid fa-magnifying-glass icono_buscador"></i></button>
            </form>
        </div>
    </nav>

    <nav class="header__nav--2">
    
        <ul class="menu">
            <li><a href="">Alimentos Naturales <i class="fas fa-angle-down fa-sm"
                        style="color: rgb(111, 222, 75);"></i></a>
                <ul class="submenu">
                    <li><a href="#">Frutos Secos</a></li>
                    <li><a href="#">Barritas & Snacks</a></li>
                    <li><a href="#">Cereales & Granolas</a></li>
                    <li><a href="#">Dulces y Mermeladas</a></li>
                </ul>
            </li>
            <li><a href="">Despensa <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                <ul class="submenu">
                    <li><a href="#">Aceites</a></li>
                    <li><a href="#">Edulcorantes</a></li>
                    <li><a href="#">Especias</a></li>
                    <li><a href="#">Semillas & Legumbres</a></li>
                    <li><a href="#">Hierbas Naturales</a></li>
                </ul>
            </li>
            <li><a href="#">Bebidas e Infusiones <i class="fas fa-angle-down fa-sm"
                        style="color: rgb(111, 222, 75);"></i></a>
                <ul class="submenu">
                    <li><a href="#">Leches Vegetales</a></li>
                    <li><a href="#">Te & Cafe</a></li>
                    <li><a href="#">Yerba Mate</a></li>
                    <li><a href="#">Jugos</a></li>
                </ul>
            </li>
            <li><a href="#">Cosmetica <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                <ul class="submenu">
                    <li><a href="#">Cuidado Capilar</a></li>
                    <li><a href="#">Cuidado Dental</a></li>
                    <li><a href="#">Cuidado Corporal</a></li>
                    <li><a href="#">Cuidado Facial</a></li>
                </ul>
            </li>
            <li><a href="#">Suplementos Naturales <i class="fas fa-angle-down fa-sm"
                        style="color: rgb(111, 222, 75);"></i></a>
                <ul class="submenu">
                    <li><a href="#">Suplementos Nutricionales</a></li>
                    <li><a href="#">Tinturas Madres</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Mi carrito</h1>
        </div>
        <div class="modal-body" id="cart-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger disabled" onclick="emptyCart()" id="btn-empty-cart">Vaciar carrito</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Seguir comprando</button>
          <button type="button" class="btn btn-success diabled" onclick="finallyCart()" id="btn-finally-cart">Finalizar compra</button>
        </div>
      </div>
    </div>
  </div>
