<header class="home__header">
    <nav class="header__contenedor">
        <div class="header__contenedor-uno">
            <button class="header__nav--bt"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="header__contenedor-dos">
            <a href="/"><img src="/images/logo.png" alt="logo de la pagina" class="imagen_logo"></a>
        </div>
        <div class="header__contenedor--iconos">
            <div class="header__contenedor-tres">
                <a href="/products/carrito"><i class="fa-solid fa-cart-shopping fa-2xl header_icono "></i></a>
            </div>
            <div class="header__contenedor-cuatro">
                <a href=""><i class="far fa-question-circle fa-2xl header_icono"></i></a>
            </div>
            <div class="header__contenedor-cinco">
                <a href="/users/register"><i class="fas fa-user fa-2xl header_icono"></i></a>
                <div class="menu__lista--3"><!--Eze:solo muestra admin en el menu una vez logeado -->
                    <% if (!locals.userLogin) { %>
                        <!-- <a href="/admin">Admin</a> -->
                        <!-- <a href="/users/profile">Perfil</a> -->
                        <a href="/users/login">Iniciar Sesión</a>
                        <a href="/users/register">Registrate</a>
                    <% }else{ %>
                        <% if (userLogin.rol === "admin") { %>
                            <a href="/admin">Admin</a>
                        <% } %>
                        
                        <a href="/users/profile">Hola <%= userLogin.name %>!</a>
                        <a href="/users/logout">Salir</a>
                    <% } %>

                </div>
            </div>
        </div>
        <div class="header__contenedor-seis">
            <input type="text" class="input__buscador" placeholder="Buscar productos" />
            <i class="fa-solid fa-magnifying-glass icono_buscador"></i>
        </div>
    </nav>

    <nav class="header__nav--2">
        <ul class="menu">
            <li><a href="#">Alimentos Naturales <i class="fas fa-angle-down fa-sm"
                        style="color: rgb(111, 222, 75);"></i></a>
                <ul class="submenu">
                    <li><a href="">Frutos Secos</a></li>
                    <li><a href="">Barritas & Snacs</a></li>
                    <li><a href="">Cereales & Granolas</a></li>
                    <li><a href="">Dulces y Mermeladas</a></li>
                </ul>
            </li>
            <li><a href="#">Despensa <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                <ul class="submenu">
                    <li><a href="">Aceites</a></li>
                    <li><a href="">Edulcorantes</a></li>
                    <li><a href="">Especias</a></li>
                    <li><a href="">Semillas & Legumbres</a></li>
                    <li><a href="">Hierbas Naturales</a></li>
                </ul>
            </li>
            <li><a href="#">Bebidas e Infusiones <i class="fas fa-angle-down fa-sm"
                        style="color: rgb(111, 222, 75);"></i></a>
                <ul class="submenu">
                    <li><a href="">Leches Vegetales</a></li>
                    <li><a href="">Te & Cafe</a></li>
                    <li><a href="">Yerba Mate</a></li>
                    <li><a href="">Jugos</a></li>
                </ul>
            </li>
            <li><a href="#">Cosmetica <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                <ul class="submenu">
                    <li><a href="">Cuidado Capilar</a></li>
                    <li><a href="">Cuidado Dental</a></li>
                    <li><a href="">Cuidado Corporal</a></li>
                </ul>
            </li>
            <li><a href="#">Suplementos Naturales <i class="fas fa-angle-down fa-sm"
                        style="color: rgb(111, 222, 75);"></i></a>
                <ul class="submenu">
                    <li><a href="">Suplementos Nutricionales</a></li>
                    <li><a href="">Tinturas Madres</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>