<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" defer></script>
    <script src="/javascripts/main.config.js" defer></script>
    <script src="https://kit.fontawesome.com/89495ba4f7.js" crossorigin="anonymous" defer></script>
    <title>Vida Orgánica | <%= title %></title>
</head>