<% products.forEach(product => { %>
    <div class="swiper-slide">
        <section class="container-articulo-section">
            <img class="imagen_producto" src="/images/img-products/<%= product.image %>"
                alt="leche de almendras">
            <div class="container-info-main">
                <h4 class="description"><%= product.name %></h4>
                <p class="precio-card">$<%= product.price - (product.discount * product.price / 100) %></p>
                <button class="button-card"><a class="link_card"
                        href="/products/detail/<%= product.id%>">comprar</a></button>
            </div>
            <i class="fa-regular fa-heart"></i>
        </section>
    </div>
<% }) %>