<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UFT-8">
    <link rel="icon" href="/img/logo.ico">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Footer</title>
</head>

<body>
    <footer>
        <div class="footer__novedades">
            <h2>Recibí nuestras novedades</h2>
            <form class="footer__novedades__email">
                <input type="email" name="Email">
                <button type="submit" name="Submit" value="→">→</submit>
            </form>
        </div>
        <div class="footer__info">
            <ul>
                <li class="footer__info__ul__li__institucional">Institucional</li>
                <li class="footer__info__ul__li__sobre--dietetica">Sobre Dietética Vida Sana</li>
                <li class="footer__info__ul__li__condiciones">Condiciones de envio</li>
                <li class="footer__info__ul__li__devoluciones">Devoluciones</li>
            </ul>
        </div>
        <div class="footer__contact">
            <h2>Contactanos</h2>
            <img src="/img/img-redes/gmail.png" alt="Gmail dietética">
            <h4>pedidos@dietvidasana.com</h4>
        </div>
        <div class="footer__redes__sociales">
            <h3 class="follow">Seguinos</h3>
            <a href="https://www.instagram.com" target="_blank" class="footer__instagram"><img src="/img/img-redes/instagram.png" width="40px" height="40px" alt="instagram"></a>
            <a href="https://www.facebook.com" target="_blank" class="footer__facebook"><img src="/img/img-redes/facebook.png" width="40px" height="40px" alt="facebook"></a>
            <a href="https://www.twitter.com" target="_blank" class="footer__twitter"><img src="/img/img-redes/twitter.png" width="40px" height="40px" alt="twitter"></a>
        </div>
        <div class="footer__method--pay">
            <ul>
                <li>Mercado pago<a href="https://www.mercadopago.com" target="_blank"><img src="/img/img-redes/credit-card.png" width="40px" height="40px" alt="Mercado Pago"></a></li>
            </ul>
        </div>
    </footer>


</body>