<!DOCTYPE html>
<html lang="en">

<footer> 
    <div class="footer__menu">
        <div>
            <ul class="footer__menu ul">
                <a href=""><li>Sobre nosotros</li></a>
                <a href=""><li>Términos y condiciones</li></a>
                <a href=""><li>Soporte</li></a>
                <a href=""><li>Información legal</li></a>
                <a href=""><li>Derechos reservados</li></a>
            </ul>
            <ul>
                <li>Vida Orgánica</li>
            </ul>
        </div>
    </div>
</footer>