<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/32097754da.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header class="home__header">
        <nav class="header__nav">
            <div class="header__contenedor uno">
                <button class="header__nav--bt"><i class="fa-solid fa-bars fa-2xl" style="color: rgb(111, 222, 75);"></i></i></button>
            </div>
            <div class="header__contenedor dos">
                <img src="/img/logo.png" alt="log0 de la pagina">
            </div>
            <div class="header__contenedor tres">
                <a href="" class="carrito"><i class="fa-solid fa-cart-shopping fa-2xl carrito_nav" style="color: rgb(111, 222, 75);"></i></a>   

            </div>
            <div class="header__contenedor cuatro">
                <a href=""><i class="far fa-question-circle fa-2xl" style="color: rgb(111, 222, 75);"></i></a>

            </div>
            <div class="header__contenedor cinco">
                <a href=""><i class="fas fa-user fa-2xl" style="color: rgb(111, 222, 75);"></i></a>

            </div>
            <div class="header__contenedor seis">
                <form action="">
                    <input type="text" class="icono" placeholder="Buscar productos" /> 
                    <button class="header__nav--bt2" type="submit"><i class="fa-solid fa-magnifying-glass fa-xl" style="color:rgb(111, 222, 75)"></i></button>
                </form>
            </div>
        </nav>
        <nav class="header__nav--2">
            <ul class="menu">
                <li><a href="#">Alimentos Naturales <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Frutos Secos</a></li>
                        <li><a href="">Barritas & Snacs</a></li>
                        <li><a href="">Cereales & Granolas</a></li>
                        <li><a href="">Dulces y Mermeladas</a></li>
                    </ul>
                </li>
                <li><a href="#">Despensa <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Aceites</a></li>
                        <li><a href="">Edulcorantes</a></li>
                        <li><a href="">Especias</a></li>
                        <li><a href="">Semillas & Legumbres</a></li>
                        <li><a href="">Hierbas Naturales</a></li>
                    </ul>
                </li>
                <li><a href="#">Bebidas e Infucuines <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a> 
                    <ul class="submenu">
                        <li><a href="">Leches Vegetales</a></li>
                        <li><a href="">Te & Cafe</a></li>
                        <li><a href="">Yerba Mate</a></li>
                        <li><a href="">Jugos</a></li>
                    </ul>
                </li>
                <li><a href="#">Cosmetica <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Cuidado Capilar</a></li>
                        <li><a href="">Cuidado Dental</a></li>
                        <li><a href="">Cuidado Corporal</a></li>
                    </ul>
                </li>    
                <li><a href="#">Suplementos Naturales <i class="fas fa-angle-down fa-sm" style="color: rgb(111, 222, 75);"></i></a>
                    <ul class="submenu">
                        <li><a href="">Suplementos Nutricionales</a></li>
                        <li><a href="">Tinturas Madres</a></li>
                    </ul>
                </li>
    
                
            </ul>
        </nav>
    </header>

</body>
</html>