<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/32097754da.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <section class="header__section">
            <div class="header__section--ic">
                <i class="fa-solid fa-bars fa-xl" style="color: #20783d;"></i>
            </div>
            <div class="header__section--logo">
                <img src="/img/nuevaImagen.jpeg" alt="">
            </div>
            <div class="header__section--ic">
                <i class="fa-solid fa-cart-shopping fa-xl" style="color: #22783d;"></i>
            </div>

        </section>
    </header>
</body>
</html>