<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" defer></script>
    <script src="/js/main.config.js" defer></script>
    <script src="https://kit.fontawesome.com/89495ba4f7.js" crossorigin="anonymous" defer></script>

    <title>Main home</title>
</head>

<body>
    <main>
        <div class="swiper mySwiper container-swiper">
            <div class="swiper-wrapper ">
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/alimentos-naturales.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/despensa.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/cosmetica-natural.jpeg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/bebidas.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/images.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/alimentos-naturales.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/despensa.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/cosmetica-natural.jpeg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/bebidas.jpg" alt=""></div>
                <div class="swiper-slide"><img class="imagen_carousel" src="/img/images.jpg" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper mySwiper container-swiper-envios">
            <div class="swiper-wrapper ">
                <div class="swiper-slide">
                    <div class="envios">
                        <i class="fa-solid fa-truck-fast fa-2xl icono"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Envíos Gratis</h4>
                            <p class="parrafo_descripcion">$8000 (CABA/GBA), $8000 (Interior)*</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="envios">
                        <i class="fa-regular fa-credit-card fa-2xl icono"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Tarjetas</h4>
                            <p class="parrafo_descripcion">Aceptamos todos los medios de pago</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="envios">
                        <i class="fa-regular fa-heart fa-2xl icono"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Control de Calidad</h4>
                            <p class="parrafo_descripcion">Ofrecemos amplios productos en stock y de calidad</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="envios">
                        <i class="fa-solid fa-shield-halved fa-2xl icono"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Compra Segura</h4>
                            <p class="parrafo_descripcion">En Dietética Vida Orgánica cuidamos tus datos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="container-envios-secundario">
            <div class="envios-secundario">
                <i class="fa-solid fa-truck-fast fa-2xl icono"></i>
                <div class="container-descripcion">
                    <h4 class="h4-descripcion">Envíos Gratis</h4>
                    <p class="parrafo_descripcion">$8000 (CABA/GBA), $8000 (Interior)*</p>
                </div>
            </div>
            <div class="envios-secundario">
                <i class="fa-regular fa-credit-card fa-2xl icono"></i>
                <div class="container-descripcion">
                    <h4 class="h4-descripcion">Tarjetas</h4>
                    <p class="parrafo_descripcion">Aceptamos todos los medios de pago</p>
                </div>
            </div>
            <div class="envios-secundario">
                <i class="fa-regular fa-heart fa-2xl icono"></i>
                <div class="container-descripcion">
                    <h4 class="h4-descripcion">Control de Calidad</h4>
                    <p class="parrafo_descripcion">Ofrecemos amplios productos en stock y de calidad</p>
                </div>
            </div>
            <div class="envios-secundario">
                <i class="fa-solid fa-shield-halved fa-2xl icono"></i>
                <div class="container-descripcion">
                    <h4 class="h4-descripcion">Compra Segura</h4>
                    <p class="parrafo_descripcion">En Dietética Vida Orgánica cuidamos tus datos</p>
                </div>
            </div>
        </div>

        <section class="container_section">
            <div class="flex">
                <div class="container_imagenes_main"><img class="imagen_main" src="/img/alimentos-naturales.jpg" alt="">
                </div>
                <div class="container_imagenes_main"><img class="imagen_main" src="/img/bebidas.jpg" alt=""></div>
            </div>
            <div class="flex">
                <div class="container_imagenes_main"><img class="imagen_main" src="/img/cosmetica-natural.jpeg" alt="">
                </div>
                <div class="container_imagenes_main"><img class="imagen_main-none" src="/img/bebidas.jpg" alt=""></div>
            </div>
        </section>
        <div class="container-articulo">
            <h2>destacados</h2>
            <div class="swiper mySwiper container-swiper-destacados">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="container-articulo">
            <h2>novedades</h2>
            <div class="swiper mySwiper container-swiper-novedades">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button-boton">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="container-articulo-section">
                            <img class="imagen_producto" src="/img/leche-almendra.jpeg" alt="leche de almendras">
                            <h4 class="description">Leche de almendras</h4>
                            <p class="precio">$5.000</p>
                            <button class="button">comprar</button>
                        </section>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <div class="container_div_pie">
            <a href="" class="link_redes">
                <i class="fa-brands fa-instagram fa-2xl"></i>
                <h3 class="h3_pie">Dietética Vida Orgánica</h3>
            </a>
            <p class="parrafo_pie">Estamos en instagram</p>
            <button class="button_pie">seguinos</button>
        </div>
    </main>
</body>

</html>