<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header2.css">
    <script src="https://kit.fontawesome.com/32097754da.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <header class="home_header">
        <nav class="header__nav--1">
            <button class="header__nav--bt"><i class="fa-solid fa-bars fa-2xl" style="color: #20783d;"></i></i></button>
            <img src="/img/logo.png" alt="log0 de la pagina">
            <a href=""><i class="fa-solid fa-cart-shopping fa-2xl carrito_nav" style="color: #22783d;"></i></a>
            <a href=""><i class="fal fa-user" style="color: #1e783d;"></i></a>
            <a href=""><i class="far fa-map-marker-question" style="color: #20783d;"></i></a>
            
        </nav>
            <div class="header__nav--form">
                <form action="">
                    <input type="text" class="icono" placeholder="Buscar productos" /> 
                    <button class="header__nav--bt2" type="submit"><i class="fa-solid fa-magnifying-glass fa-xl" style="color:#20783d"></i></button>
                </form>
            </div>
         
    </header>
</body>
</html>