<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <script src="https://kit.fontawesome.com/32097754da.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check" class="bar-btn">
        <i class="fa-solid fa-magnifying-glass fa-xl" style="color:rgb(111, 222, 75)"></i>
    </label>
    <ul class="nav-menu">
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>

    </ul>
</body>
</html>